.list-item{
    width: 225px;
    height: 120px;
    margin-right: 5px;
    background-color: var(--main-color);
    cursor: pointer;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video{
        width: 100%;
        height: 140px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover{
        width: 325px;
        height: 300px;
        position: absolute;
        top: -120px;
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.1);
        border-radius: 5px;

        img{
            height: 140px;
        }

        .item-info{
            display: flex;
            flex-direction: column;
            padding: 5px;

            .icons{
                display: flex;
                margin-bottom: 10px;

                .icon{
                    border:2px solid #fff;
                    padding: 5px;
                    border-radius: 50%; 
                    margin-right: 10px;
                    
                }
            }

            .item-info--top{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: grey;


                span{
                    margin-right: 10px;

                }

                .limit{
                    border: 1px solid grey;
                    padding: 1px 3px;
                }

            }

            .desc{
                font-size: 13px;
                margin-bottom: 10px;
            }

            .genre{
                font-size: 14px;
                color: lightgray;
            }
        }
    }
}